<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Bot Management</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header class="dashboard">
        <h1 class="dashboard-title">Dashboard</h1>
        <div class="user-dropdown">
            <input id="check01" type="checkbox" name="menu" />
            <label class="dropdown-label" for="check01">
                <%= user.username %>
            </label>
            <!-- <ul class="dropdown-submenu">
                <li><a href="/users/<%= user.user_id %>/settings">Settings</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul> -->
            <div class="dropdown-submenu">
                <a href="/users/<%= user.user_id %>/settings">Settings</a>
                <a href="/logout">Logout</a>
            </div>
        </div>
    </header>
    <div id="main-content">
        <div id="bot">

            <div id="bot-log">
                <p>1970-01-01 00:00:00 - example command executed by -some-user-id-</p>
                <p>1970-01-01 00:00:00 - userinfo command executed by -some-user-id-</p>
                <p>1970-01-01 00:00:00 - etc...</p>
            </div>
            <div id="bot-buttons">
                <button>Restart</button>
                <button>Update</button>
                <button>Download Config</button>
                <button>Upload Config</button>
                <button>Backup data</button>
                <button>Restore data</button>
                <button>Download logs</button>
            </div>
        </div>
    </div>
    <%= footer %>
</body>

</html>