<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Discord Bot Control Panel</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>Not logged in</h1>
    <p>Please <a href="/login">login</a> before you can access the control panel.</p>
    <p>Register <a href="/register">here</a></p>
</body>
</html>