<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dbot MGMT Registration</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <form action="/api/v1/register" method="post">
        <label for="username">Username</label>
        <input type="text" name="username" size="29" required>
        <label for="email" name="email">Email</label>
        <input type="email" name="email" size="29" required>
        <label for="password">Password</label>
        <input type="password" name="password" size="29" required >
        <p>Missing information, Please enter all the required information.</p>
        <input type="submit" value="Register">
</form>
    
</body>
</html>